:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}
.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}

.footer {
  background: var(--mainBrown);
}

.menu,
.contact {
  background: var(--mainGrey);
}

.navbar {
  padding: 1rem 1rem;
}
.nav-link {
  cursor: pointer;
  display: inline-block;
}
.nav-link a {
  color: rgba(0, 0, 0, 0.5);
}
.nav-link:hover a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}
.navbar-expand-sm .navbar-nav .nav-link + .nav-link {
  padding-left: 0.5rem;
}
.user-name {
  cursor: default;
}
.icon-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 0;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link + .nav-link {
    padding-left: 0;
  }
  .user-name {
    margin-left: 1rem;
  }
  .icon-cart {
    padding: 0;
  }
}
